<!-- landing section -->
<section class="lading-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6">
                <!-- Image -->
                <img src="assets/mario-bros.png" class="img-fluid landing-img" alt="landing-img">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1">
                <!-- Heading -->
                <h1 class="text-center text-md-left">
                    Welcome to the <span class="text-danger">Mario World</span> <br>
                    page.
                </h1>

                <!-- Text -->
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                    Lorem ipsum dolor sit amet,facilis magni recusandae
                    tenetur quos doloremque porro, consectetur ...
                </p>

                <!-- Buttons -->
                <div class="text-center text-md-left">
                    <a href="javascript:;" [routerLink]="['/home']" fragment="contentSection"
                        class="btn btn-primary mr-1">
                        View content
                    </a>
                    <a href="javascript:;" [routerLink]="['/home']" fragment="formSection"
                        class="btn btn-primary-soft lift">
                        Subscribe
                    </a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- content section -->
<section id="contentSection" class="pt-5 pb-5 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <!-- Heading -->
                <h3>Items </h3>
                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum totam qui natus hic dolor harum
                    facilis voluptas eius consequuntur aperiam laudantium fugiat animi, a odio dignissimos quam
                    veritatis labore nostrum.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Levels </h3>
                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, soluta nemo. Eius dicta, ullam
                    soluta expedita minus, nisi repellat ab alias reprehenderit quidem illo blanditiis quasi facilis
                    molestiae minima aliquid! </p>
            </div>
            <div class="col-12 col-md-4 ">
                <h3>Enemies</h3>
                <!-- Text -->
                <p class="text-muted mb-0">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit et adipisci a non obcaecati
                    pariatur quasi quaerat exercitationem ipsa quisquam! Modi beatae accusamus nam. Fugit sapiente ipsa
                    soluta eum non!
                </p>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- form section -->
<section id="formSection" class="form-section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 order-md-2">

                <!-- Heading -->
                <h2>
                    Lets talk about <span class="text-success">Mario World </span>.
                </h2>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quaerat necessitatibus. Nam eius
                    tempora accusamus minima aperiam, facilis amet sit eos cupiditate. Eveniet libero veritatis facere
                    architecto, tempore assumenda similique.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1">

                <!-- Card -->
                <div class="card bg-white">
                    <!-- Image -->
                    <div class="card-header">
                        <img src="assets/mario-luigi.png" alt="..." class="card-img-top">
                    </div>
                    <!-- Body -->
                    <div class="card-body">

                        <!-- Form -->
                        <form>
                            <div class="form-group">
                                <label for="email_inp">Email</label>
                                <input type="email" class="form-control" name="email_inp" id="email_inp"
                                    aria-describedby="helpId" placeholder="Email">
                            </div>
                            <div class="mt-6">
                                <button class="btn btn-block btn-success" type="submit">
                                    Subscribe
                                </button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>